@tailwind base;
@tailwind components;
@tailwind utilities;

.clamp-1 {
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.clamp-4 {
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bg-shadow-btn {
  background: linear-gradient(155deg, rgba(210, 31, 51, 0.00) 50.18%, rgba(210, 31, 51, 0.61) 91.88%);
}